.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* or whatever bg you need */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* stays on top */
  overflow: hidden;
}

.svg {
  width: 600px;
  max-width:600px;
  height: auto;
  margin-left: -70px;
}

.logoPath {
  stroke: black;
  stroke-width: 2;
  fill: transparent;
}

.nameContainer {
  margin-top: 20px;
}

.logoName {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
